<ul class="menu-root">
  <% site.pages.find({type: type}).sort('order').each(function (p) { %>
    <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
    <% if (type === 'process') { %>
      <% if (fileName === 'index') { %>
        <li><h3>General</h3></li>
      <% } %>
      <% if (fileName === 'requirements') { %>
        <li><h3>Planning</h3></li>
      <% } %>
      <% if (fileName === 'source-control') { %>
        <li><h3>Implementation</h3></li>
      <% } %>
      <% if (fileName === 'code-reviews') { %>
        <li><h3>QA & Documentation</h3></li>
      <% } %>
      <% if (fileName === 'builds') { %>
        <li><h3>Deployment</h3></li>
      <% } %>
      <% if (fileName === 'incidents') { %>
        <li><h3>Maintenance & Support</h3></li>
      <% } %>
    <% } %>
    <% if (type === 'best-practices') { %>
      <% if (fileName === 'c-sharp') { %>
        <li><h3>Server Side</h3></li>
      <% } %>
      <% if (fileName === 'html') { %>
        <li><h3>Front End</h3></li>
      <% } %>
      <% if (fileName === 'infrastructure') { %>
        <li><h3>Devops</h3></li>
      <% } %>
    <% } %>
    <li>
      <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
    </li>
  <% }) %>
</ul>
