.wrapper {
    padding-left: $side-bar-width-lg;

    &__sidebar {
        position: fixed;
        margin-left: -$side-bar-width-lg;
        top: 0;
        bottom: 0;
        left: $side-bar-width-lg;
        width: $side-bar-width-lg;
    }

    &__content {
        width: 100%;
    }
}