<aside class="sidebar">
    <header class="header">
        <img class="header__image" width="300" alt="TLA Logo" src="/image/logo-white.png" />
        <h1 class="header__title">Engagement Team</h2>
    </header>
    <nav class="navigation">
        {% for section in site.data.docs %}
        <h2 class="navigation__category">{{ section.title }}</h4>
            {% include navigation.html items=section.docs %} {% endfor %}
    </nav>
    <footer class="footer">
        <small>© The Lead Agency 2017</small>
    </footer>
</aside>