<aside class="sidebar" >
    <header class="header">
        <picture class="header__image">
            <source width="60" srcset="{{ site.baseurl}}/image/logo-mob.png" media="(max-width: 768px)"></source>
            <img  width="300" height="133" alt="TLA Logo" src="{{ site.baseurl}}/image/logo-white.png" />
        </picture>
        <h1 class="header__title">Engagement Team</h1>
        <a class="header__toggle-icon" data-toggle="header" onclick="document.querySelector('.sidebar').classList.toggle('sidebar--active');" role="button">
            <span class="sr-only">Toggle Main Menu</span>
            <i class="header__menu-icon"></i>
        </a>
    </header>
    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__page ">
                <a class="navigation__link" href="{{site.baseurl}}">Welcome</a>
            </li>
        </ul>
        {% for section in site.data.docs %}
        <h2 class="navigation__category">{{ section.title }}</h4>
            {% include navigation.html items=section.docs %} {% endfor %}
    </nav>
    <footer class="footer">
        <small>© The Lead Agency 2017</small>
    </footer>
</aside>