/// <reference path="../01-settings/settings" />
/// <reference path="../02-tools/tools" />

.header {
    color: $brand-primary-text;

    &__title {
        color: inherit;
        font-size: $h3-font-size
    }

    &__image {
        margin-bottom: 15px;
    }
}
