/// <reference path="../01-settings/settings" />
/// <reference path="../02-tools/tools" />

.sidebar {
    @include media-breakpoint-up(md) {
        position: fixed;
        width: $side-bar-width-lg;
        text-align: right;

        .navigation {
            display: block;
        }
    }

    top: 0;
    left: 0;
    bottom: 0;
    background-color: $brand-secondary;
    color: $brand-secondary-text;
    padding: 3rem;
    overflow: hidden;

    &--active {
        position: fixed;
        width: 100%;

        .navigation {
            display: block;
        }
    }
}
