/// <reference path="../01-settings/settings" />
/// <reference path="../02-tools/tools" />

.sidebar {
    @include media-breakpoint-up(md) {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: right;
        padding: 3rem;

        .navigation,
        .footer {
            display: block;
        }
    }

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: .5rem;
    background-color: $brand-secondary;
    color: $brand-secondary-text;
    overflow: hidden;
    transition: height ease-in-out .25s;

    .navigation,
    .footer {
        display: hidden;
    }

    &--active {
        height: 100vh;

        .navigation,
        .footer {
            display: block;
        }

        .header__menu-icon {
            background-color: transparent;

            &::before,
            &::after {
                width: $bar-width;
            }

            &::after {
                top: 0;
                transform: rotate(45deg);
            }

            &::before {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}
